<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- About Us -->
            <div class="col-md-4">
                <h5 class="footer-title">About Us</h5>
                <p>Since 2001, we have helped many people improve their vision. We are proud to continue providing excellent eye care services.</p>
                <button class="btn btn-appointment"><a href="/appointment">Get Appointment</a></button>
                
            </div>

            <!-- Quick Links -->
            <div class="col-md-4">
                <h5 class="footer-title">Quick Links</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Lenses</a></li>
                            <li><a href="#">Eye Glass</a></li>
                            <li><a href="#">Eye Frames</a></li>
                            <li><a href="#">Repairing</a></li>
                            <li><a href="#">Computerized</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Lasik</a></li>
                            <li><a href="#">Fix Vision</a></li>
                            <li><a href="#">Drops</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="/privacypolicy">Privacy & Policies</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Institute Hours -->
            <div class="col-md-4">
                <h5 class="footer-title">Institute Hours</h5>
                <p><%-intro.opening_hours%></p>
                <p><%-intro.appointment_day%></p>
            </div>
        </div>

        <div class="row mt-4">
            <!-- Contact Information -->
            <div class="col-md-4">
                <h5 class="footer-title">Contact Us</h5>
                <div class="contact-info">
                    <i class="bi bi-house-door"></i>
                    <p><%-intro.hospital_location%></p>
                </div>
                <div class="contact-info">
                    <i class="bi bi-telephone"></i>
                    <p><%-intro.mobile_no%></p>
                </div>
                <div class="contact-info">
                    <i class="bi bi-envelope"></i>
                    <a href="mailto:" target="blank"><p><%-intro.email%></p></a>
                </div>
            </div>

            <!-- Social Media -->
            <div class="col-md-4">
                <h5 class="footer-title">Follow Us</h5>
                <div class="social-icons">
                    <a href="https://wa.me/9422012864" target="_blank"><i class="bi bi-whatsapp"></i></a>
                    <a href="https://www.facebook.com/YourPageUsername" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/YourUsername" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.google.com" target="_blank"><i class="bi bi-google"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>2016 &copy; Webful Creations Vision. All Rights Reserved.</p>
        <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/blog">Blog</a> | <a href="/service">Services</a> | <a href="/contact">Contact Us</a></p>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>